*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #d4d4d4;
}

nav {
    background-color: #737373;
    padding: 10px 20px;
}

.logo{
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ffffff;
    margin-right: 4px;
}

nav .search {
    float: left;
    margin-top: 5px;
    height: 30px;
    width: 44px;
    background-color: transparent;
}

nav .search .logo-search{
    background-color: #acacac;
    border-radius: 50%;
    float: right;
    margin-right: 5px;
    width: 35px;
    height: 35px;
    margin-top: -2px;
}

nav .nav-square{
    float: right;
    margin-top: 6px;
    display: none;
}
nav .nav-circle{
    float: right;
}

nav .nav-square .item-square{
    float: right;
    background-color: #acacac;
    width: 86px;
    height: 30px;
    margin: 0 7px;
}

nav .nav-circle .item-circle{
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #acacac;
    margin: 0 3px;
}

nav .container{
    margin: 0 auto;
    max-width: 1305px;
}

.show-leftbar{
    width: 120px;
    margin: 5px;
}


.content {
    margin: 0 auto;
    max-width: 1341px;
}
.sidebar-left{
    display: none;
    float: left;
    box-sizing: border-box;
    padding: 10px 20px;
    display: none;
    width: 100%;
    display: block;
}

.sidebar-left .sidebar-left-1 .square{
    float: right;
    width: 85%;
    height: 30px;
    margin-top: 5px;
    background-color: #ffffff;
}

.sidebar-left .sidebar-left-2 .square{
    width: 100%;
    margin: 10px 0;
    height: 30px;
    background-color: #ffffff;
}

.sidebar-left .sidebar-left-2 .square:nth-child(5){
    margin: 40px 0;
}

.main{
    box-sizing: border-box;
    float: left;
    width: 100%;
    padding: 10px 20px 0 20px;
}

.main .post{
    background-color: #ffffff;
    padding: 10px 20px;
    width: 100%;
    height: 159px;
    box-sizing: border-box;
}

.main .input-post{
    width: 100%;
    height: 67px;
    background-color: #d4d4d4;
    margin-top: 10px;
}

.main .post-square{
    margin-top: 10px;
    width: 100%;
}

.main .post-square .square{
    margin-right: 7px;
    float: left;
    width: 20%;
    height: 30px;
    background-color: #d4d4d4;
}

.main .post-square .square:nth-child(4){
    width: 15%;
}

.main .stories{
    margin-top: 10px;
    padding: 10px 20px;
    width: 100%;
    height: 273px;
    background-color: #ffffff;
    box-sizing: border-box;
}

.main .stories-square .square{
    background-color: #d4d4d4;
    float: left;
    width: 21%;
    height: 226px;
    margin: 5px;
}

.main .status {
    margin-top: 10px;
    padding: 10px 20px 0 20px;
    width: 100%;
    height: 293px;
    background-color: #ffffff;
    box-sizing: border-box;
}

.main .status .status-desc p{
    float: left;
}

.main .status .status-desc .status-desc-square{
    background-color: #d4d4d4;
    width: 20px;
    height: 20px;
    float: right;
}

.main .status .status-name{
    margin-top: 10px;
}
.main .status .status-name .logo-status{
    background-color: #d4d4d4;
}

.main .status .status-name .name{
    margin-top: 4px;
    height: 30px;
    background-color: #d4d4d4;
    float: right;
    width: 84%;
}

.main .status .status-main .square{
    margin-top: 10px;
    width: 100%;
    height: 40px;
    background-color: #d4d4d4;
}
.main .status .status-main .square:last-child{
    height: 153px;
}

.sidebar-right{
    display: none;
}

.chat{
    padding: 10px 0 0 10px;
    position: fixed;
    bottom: 0;
    right: 0;
    height: 40px;
    background-color: #acacac;
    box-sizing: border-box;
    width: 25%;
    margin-right: 5%;
}

@media (min-width: 673px){
    nav .nav-square{
        display: inline-block;
    }
    .show-leftbar{
        display: none;
    }
    .sidebar-left{
        display: none !important;
    }
}

@media (min-width: 769px) { 
    .main{
        width: 60%;
    }
    .main .post-square .square{
        width: 23%;
    }
    .main .post-square .square:nth-child(4){
        width: 15%;
    }
    .main .stories-square .square{
        width: 21.9%;
    }

    .main .status .status-name .name{
        float: right;
        width: 85%;
    }

    .sidebar-right{
        display: block;
        float: left;
        width: 40%;
        box-sizing: border-box;
        padding: 10px 20px 0 20px;
    }
    
    .sidebar-right .sidebar-right-1{
        background-color: #ffffff;
        width: 100%;
        height: 87px;
        box-sizing: border-box;
    }
    
    .sidebar-right .sidebar-right-2{
        margin-top: 10px;
        background-color: #ffffff;
        width: 100%;
        height: 385px;
        padding: 10px 20px;
        box-sizing: border-box;
    }
    .sidebar-right .sidebar-right-2 .sidebar-right-2-square{
        margin: 10px 0;
    }
    .sidebar-right .sidebar-right-2 .sidebar-right-2-square .square{
        float: left;
        margin: 10px 5px 0 5px;
        background-color: #d4d4d4;
        width: 45%;
        height: 144px;
    }
    
    .sidebar-right .sidebar-right-3{
        margin-top: 10px;
        background-color: #ffffff;
        width: 100%;
        height: 253px;
        box-sizing: border-box;
        padding: 10px 20px;
    }
    
    .sidebar-right .sidebar-right-3 .desc p{
        float: left;
    }
    
    .sidebar-right .sidebar-right-3 .desc p.see-all{
        float: right;
    }
    
    .sidebar-right .sidebar-right-3 .people-name{
        width: 100%;
        height: 65px;
        background-color: #d4d4d4;
        margin-top: 10px;
    }
}

@media (min-width: 890px){
    nav .search{
        margin-left: 1%;
        width: 25%;
        background-color: #ffffff;
    }

    nav .search .logo-search{
        margin-top: 2.5px;
        width: 25px;
        height: 25px;
    }
}

/* Desktop */
@media (min-width: 1200px) {    
    .logo{
        float: left;
        margin-right: 20px;
    }
    
    nav .search {
        width: 510px;
        background-color: #ffffff;
    }
    
    nav .search .logo-search{
        margin-top: 2.5px;
        width: 25px;
        height: 25px;
    }
    
    nav .nav-square{
        float: right;
        display: block;
        margin-top: 6px;
    }
    nav .nav-circle{
        float: right;
    }
    
    nav .nav-square .item-square{
        width: 86px;
        height: 30px;
        margin: 0 7px;
    }
    
    nav .nav-circle .item-circle{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin: 0 5px;
    }
    
    .content {
        margin: 0 auto;
        max-width: 1341px;
    }

    .sidebar-left{
        display: block !important;
        width: 20%;
    }
    
    .sidebar-left .sidebar-left-1 .square{
        width: 69%;
    }
    
    .main{
        width: 50%;
    }
    
    .main .post-square .square{
        margin-right: 7px;
        width: 25%;
        height: 30px;
    }
    
    .main .post-square .square:nth-child(4){
        width: 15%;
    }
    
    .main .stories-square .square{
        height: 226px;
        margin: 5px;
    }
    
    
    .main .status .status-name .name{
        margin-top: 4px;
        width: 87%;
        height: 30px;
    }
    
    
    .main .status .status-main .square{
        margin-top: 10px;
        width: 100%;
        height: 40px;
    }
    .main .status .status-main .square:last-child{
        height: 153px;
    }
    
    .sidebar-right{
        display: block;
        width: 30%;
    }
    
    .chat{
        margin-right: 100px;
        width: 345px;
    }
}
   
/* Clearfix */
.cf:before,
.cf:after {
    content: " "; 
    display: table; 
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}